@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
  font-family: '8bit kr';
  src: url('./font/8bit.ttf') format('truetype');
}

.title{
  text-align: center;
  font-family: 'Press Start 2P', cursive;

  color: #fff;
  text-shadow: 14px 14px #000000;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal{
  position: absolute;
  top:50%;
  left:50%;

  height: 100%;
  width: 100%;

  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
}
.sub{
  background-color: rgba(0, 0, 0);

  font-family: '8bit kr';
  font-size: 30px;
  line-height: 150%;
  color: #fff;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.closeButton{
  transform: none;
  position: absolute;
  top: 0%;
  right: 0%;

  width: 30px;
  height: 30px;
  
  font-size: 7px;
  text-align: center;
  background-color: #ffee00;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  text-shadow: none;
}
.closeButton:active {
  position: absolute;
  top: 0px;
  box-shadow: none;
}

.bgmDiv {
  position: absolute;
  top: 70%;
  left: 70%;

}

.helpDiv {
  position: absolute;
  top: 70%;
  left: 30%;
}
.helpButton{
  background-color: #ff2600;
  box-shadow: 0px 15px 0px 0px #9c1700;
}
.helpButton:active{
  box-shadow: 0px 2px 0px 0px #9c1700;
}


.startDiv {
  position: absolute;
  top: 70%;
  left: 50%;
}

.startButton {
  background-color: hsl(96, 100%, 50%);
  box-shadow: 0px 15px 0px 0px hsl(96, 100%, 33%);
}
.startButton:active {
  box-shadow: 0px 2px 0px 0px hsl(96, 100%, 33%);
}